body{
  --MainBackGround:rgb(44, 131, 190);
  overflow-x: hidden;
  font-family: "Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;;
}

/*Predefine*/

.flex,.start-load-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.space{
  justify-content: space-between;
}


/*1.Loaders*/


.start-load-container{
  width: 100%;
  height: 95vh;
  color: var(--MainBackGround);
  font-size: 1.6rem;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 2;
  background: white;
}

.start-load-container  svg{
  transform: scale(1.5);
}


/*navbar*/
.navbar{
  width: 60%;
}

/*Other*/
.remove{
  transition: all 2s;
  opacity: 0;
  z-index: -2;

}

.MuiBottomNavigationAction-root.Mui-selected,.blue *{
  color: var(--MainBackGround);
}


