body{
  --MainBackGround:rgb(44, 131, 190);
  overflow-x: hidden;
  font-family: system-ui;
  --font-small-head:1.5rem;
  --font-size:1rem;

  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",;
}

*{
-webkit-tap-highlight-color: transparent;
}

.Group_Div{
  text-transform: capitalize;
}


#root{
  overflow-x: hidden;

}


.newTweetBox{
  z-index: 122 !important;
}

.sca{
  transform: scale(1.2)
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}
.MuiButton-containedPrimary{
  z-index: 12;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
  font-family:  system-ui;
  
}

.text,div,textarea{
  
  line-height: 24px;


}

.css-1txnhvm  input{
  padding: 18px !important;

}




/*Predefine*/
.comment > div{
  padding-bottom: 1rem;

}

.newcommant{
  font-size: var(--font-size);
}

.comment{
  margin: 1rem 0;
}
.pad > *{
  /* padding: .4rem 0; */
  margin-bottom: 1.7rem; 

}

.flex,.start-load-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.full{
  width: 100%;
}

.relative{
  position: relative;
}

.center{
  text-align: center;
}
.column{
  flex-direction: column;
}
.space{
  justify-content: space-between !important;
}
.none{
  display: none;
}

a:hover{
  text-decoration: underline;
}

.profile_img{
  object-fit: contain;
  max-height: 5rem;
}

.overflow{
  overflow-y: scroll;
}

.Socials > div > *{
  margin: 0.2rem;
}

.end{
  flex: 2;
  float: right;
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
}
.start_v{
  align-self: flex-start;
  justify-content: flex-start;
}
.start{
  align-items: flex-start;
}
.top{
  align-items: flex-start;
}

/* .column{
  border: 1px solid;
} */


/*1.Loaders*/


.start-load-container{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  right: 0;
  /* height: 100vh; */
  color: var(--MainBackGround);
  font-size: 1.6rem;
  flex-direction: column;
  /* position:fixed; */
  top: 0;
  z-index: 20;
  background: white;
}

.Group_Div{
  padding:0 5px;
}

.start-load-container  svg,.icons svg{
  transform: scale(1.5);
  padding: 10px 0;
}
.icons > *{
  flex: 1;
}


/*navbar*/
.navbar{
  width: 60%;
}
.navbar-link,.a{
  text-decoration: none;
  color: var(--MainBackGround);
  padding: .3rem;
}
.a{
  cursor: pointer;
}

.navbar-link:hover{

  text-decoration: underline;

} 


/*container*/

.container{

  /* border: 1px solid; */
  width: 100%;
}

.container >.feed{

  width: 50%;

}

.feed > div,.creator-section{
  width: 100%;
}


.tweet{
  position: fixed !important;
  bottom: 2%;
  left: 5%;
  border-radius: 48px !important;
}

.h{
  height: 2rem;
}

.cross{
  position: absolute !important;
  top: 3%;
  right: 3%;
}

.newTweetBox{
  position: fixed;
  top: 50%;
  left: 50%;
  /* opacity: 0; */
  transform: translate(-50%,-50%) scale(0);
  transition: all .3s;  
  background: white;
  z-index: 2;
  width: 50%;
  max-height: 25rem;
  padding: 1.4rem;
  box-shadow: 0px 0px 6px black;
  overflow-y: auto;
}

.user-tweet *{
  font-size: var(--font-size);
}


.relative{
  position: relative;
}
.cross{
  z-index: 3;
}
.newTweetBox > .flex > *{
  margin: 1rem;
}

/*Main Load*/
.place-load{

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 130000;
  /* opacity: 0; */
  transform: translate(-50%,-50%);
  pointer-events: none;
  /* width: 100%; */
  /* height: 100vh; */

}
.place-load > .Load{
    border: 4px solid rgb(145 186 214);
    padding: 11px;
    border-radius: 50%;
    border-top-color: var(--MainBackGround);
    animation: round .5s linear 0s infinite;
    width: 0.2rem;
    height: 0.2rem;
    margin: 0 auto;
}

.list{
  overflow: auto !important;
  max-height: 25rem !important;
  position: static !important;
  width: 100% !important;
}

@keyframes round {
  100%{
    transform: rotate(360deg);
  }
  
}

.br-remove *{
  flex: 1;
}
.br-remove{
  width: 100%;
}

.shownewTweetBox{
  /* opacity: 1; */

  transform: translate(-50%,-50%) scale(1);
}


.newtweet_text{
  outline: none;
  height: 50%;
  overflow: auto;
  resize: none;
  border: none;
  width: 90%;
}




.tweet h1{
  padding: 0;
  margin: 0;
}
.feed > div > h1,.tweet-container h1{
  color: var(--MainBackGround);
}

.tweet-container > div{
  margin: .5rem;
}.tweet-container{
  margin: 2rem 0;
}


.media img,.media video{
  width: 100%;
  /* object-fit: cover; */
  max-height: 25rem;
  border-radius: .3rem;
  object-fit: contain;
}

.right{
  flex: 1;
  width: 40%;

}

.explore{
  flex: 2;
  max-height: 15rem;
}

.explore h3{
  margin: .3rem 0;
}

.right img{

  width: 106%;
  
  /* max-height: 15rem; */
}

.Socials {
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
}

.Socials > div >div{
  fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}


.auth{
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

.auth > *,.auth > div,.auth h3,.auth a{
  width: 100%;
  margin: .5rem 0;
}

.auth input{
  width: 100%;
}

.textp{
  text-align: center;
  color: var(--MainBackGround);
}



.creator-section{
  justify-content: flex-start;
  color: var(--MainBackGround);
  font-size: var(--font-small-head);
}

.text{
  font-size: 1rem;
    margin-left: 14px !important;
}

/*Other*/
.remove{
  transition: all 2s;
  opacity: 0;
  z-index: -2;

}
/* .css-1s6bmb5 input{
  padding: 10px !important;
} */

.urldiv{
  width: 90%;
  margin: 0 auto;
}

.urldiv > *{
  width: 100% !important;
}

.btn{
  color: white;
  background-color: transparent;
}

.MuiBottomNavigationAction-root.Mui-selected,.blue *{
  color: var(--MainBackGround);
}
.bar{
  display: none;
}


.css-1txnhvm{
  width: 90%;
}

/* .groups a{ */
  
/* } */


.commentsList{
  width: 90%;
  margin: 0 auto;
}

.commentsList > .newcommant{
  margin-left: 1rem;
  border-bottom: 2px solid rgb(102, 92, 92);
  margin-bottom: 1rem;

}

.commentsList button{
  margin-bottom: 1rem;
}

.commentsList .img{
  transform: scale(.8);
}

.commentsList  .creator-section{
  font-size: large;
}
.comment > .full{
  padding-bottom: .3rem;

}
.comment  .text{
  margin-left: .2rem;
}

.padtweet{
  margin: 3rem 0;
}


@media only screen and (max-width: 1200px) {
  
  .container > .feed{
    width: 95%;
  }

 
  
}

@media only screen and (max-width: 750px) {
  /* *::-webkit-scrollbar {
    display: none;
  }

  *{
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  } */

  .footer{

    margin-bottom: 70px;

  }
  .none_m{
    display: none;
  }


.tweet{
  bottom: 70px;
  right: 2%;
  left: auto;
}
  
  
  .container > .feed{
    width: 95%;
  }

  .bar{
    position: absolute;
    display: block;
    right: 1.3rem;
    top: 28px;
    z-index: 3;
    z-index: 3;
    transition:all 1s;
  }

  /* .navbar-left::before{
    content: "Twitter Master";
    font-size:2rem;
  } */

  .navbar-right{
    margin: 7px 0;
  }
  .relative{
    position: relative;
  }
  .navbar-left{
    position: fixed;
    display: flex;
    width: 94%;
    z-index: 22;

    /* top:0; */
    background:white;
    bottom: 0;
    justify-content: space-between;
    /* flex-direction: column; */
    /* transform:translateX(100%); */
    transition:all 1s;
    /* height: 100%; */
  }
  .navbar-link{
    padding: 8px 29px;
  }
  .start-load-container{
    width: 100%;
  }


  .spin{
    transform: rotate(180deg);
  }

  .show{
    transform: translateX(0);;
  }
  .newTweetBox{
    width: 95%;
    padding:1rem 0 ;
  }
}
